<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{ content_for_header }}
    {{ 'theme.css' | asset_url | stylesheet_tag }}
  </head>
  <body>
    <nav class="main-nav">
      <div class="main-nav-left">
        <div class="logo">Logo</div>
        <div class="nav-links">
          {% for link in linklists.main-menu.links -%}
            <li class="nav-link">{{ link.title | upcase | link_to: link.url }}</li>
          {%- endfor -%}
        </div>
        </div>
      <div class="main-nav-center">Center - Empty</div>
      <div class="main-nav-right">Right - Search bar</div>
    </nav>
    {{ content_for_layout }}
  </body>
  {%  render 'footer' %}
</html>