<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{ content_for_header }}
    {{ 'theme.css' | asset_url | stylesheet_tag }}
  </head>
  <body>
    <nav class="main-nav">
        <div class="main-nav-left">Left</div>
        <div class="main-nav-center">Center</div>
        <div class="main-nav-right">Right</div>
    </nav>
    {{ content_for_layout }}
  </body>
  {%  render 'footer' %}
</html>