<div class="point-container">
  <div class="point-wrapper">
    <div class="point-heading">{{ section.settings.blockHeading | strip }}</div>
    <div class="column-container">
      <div class="column1">
        <div class="column-info">{{ section.settings.cartText }}</div>
        {% if section.settings.cartDisplay %}
          <img
            class="cart-display"
            src="{{ section.settings.cartDisplay | image_url }}"
            alt="Add To Cart">
        {% endif %}
        <button class="addToCart">Add To Cart</button>
      </div>
      <div class="column2">
        {{ section.settings.points }}
      </div>
    </div>
  </div>
</div>


{% schema %}
  {
    "name": "bulletpoints",
    "settings": [
      {
        "type": "text",
        "id": "blockHeading",
        "label": "Title for Section"
      }, {
        "type": "richtext",
        "id": "cartText",
        "label": "Text area"
      }, {
        "type": "image_picker",
        "id": "cartDisplay",
        "label": "Add to Cart display"
      }, {
        "type": "richtext",
        "id": "points",
        "label": "Bulletpoint section"
      }
    ]
  }
{% endschema %}