<div class="image-container">
    <div class="image-wrapper">
        {{ section.settings.gridImage | image_url: width: 1440 | image_tag}}
    </div>
</div>



{% schema %}
    {
      "name": "gridImage",
      "settings": [
          {
              "type": "image_picker",
              "id": "gridImage",
              "label": "Grid Image"
          }
      ]
    }
  {% endschema %}