<div class="icon-container">
    <div class="icon-wrapper">
        {{ section.settings.icons }}
    </div>
</div>


{% schema %}
    {
      "name": "icons",
      "settings": [
          {
              "type": "image_picker",
              "id": "icons",
              "label": "Icons"
          }
      ]
    }
  {% endschema %}