<div class="comparison-container">
    <div class="comparison-wrapper">
        comparison
    </div>
</div>


{% schema %}
    {
      "name": "comparison",
      "settings": [
          {
              "type": "image_picker",
              "id": "comparison",
              "label": "Comparison"
          }
      ]
    }
  {% endschema %}