<div class="recipe-container">
    <div class="recipe-wrapper">
        <div class="recipe-ingredients">
            <h2 class="recipe-title">{{ section.settings.recipeTitle | strip }}</h2>
            <div class="ingredients">Ingredients:</div>
            <div class="ingredient-block">
                {% for ingredient in section.blocks.ingredient %}
                    {{ ingredient.settings.ingredient | newline_to_br }}
                {% endfor %}
            </div>
        </div>

        <div class="recipe-image">
            {{ section.settings.recipeImage | image_url: width: 400 | image_tag }}
        </div>
    </div>
</div>

{% schema %}
{
  "name": "recipes",
  "settings": [
    {
      "type": "richtext",
      "id": "recipeTitle",
      "label": "Recipe Title"
    },
    {
      "type": "image_picker",
      "id": "recipeImage",
      "label": "Recipe Image"
    }
  ],
  "blocks": [
    {
      "name": "ingredient",
      "type": "richtext",
      "settings": [
        {
          "type": "textarea",
          "id": "ingredient",
          "label": "Add an Ingredient to the Recipe"
        }
      ]
    }
  ]
}
{% endschema %}

