<div class="block-container">
    <div class="block-wrapper">
        {{ section.settings.blocks }}
    </div>
</div>


{% schema %}
    {
      "name": "blocks",
      "settings": [
          {
              "type": "image_picker",
              "id": "blocks",
              "label": "Block section"
          }
      ]
    }
  {% endschema %}