<div class="info-container">
    <div class="info-wrapper">
        {{ section.settings.info }}
    </div>
</div>


{% schema %}
    {
      "name": "information",
      "settings": [
          {
              "type": "image_picker",
              "id": "info",
              "label": "Information"
          }
      ]
    }
  {% endschema %}