<div class="recipe-container">
    <div class="recipe-wrapper">
        recipes
    </div>
</div>


{% schema %}
    {
      "name": "recipes",
      "settings": [
          {
              "type": "image_picker",
              "id": "recipes",
              "label": "Recipe"
          }
      ]
    }
  {% endschema %}