<div class="hero-container">
  <div class="hero-wrapper">
    <div class="hero-bg">
      {% if section.settings.hero %}
        {{ section.settings.hero | image_url: width: 1500 | image_tag: preload: true }}
      {% endif %}
    </div>
    <div class="hero-context">
      <div class="hero-heading">
        {{ section.settings.heroHeading }}</div>
      <div class="hero-paragraph">
        {{ section.settings.heroContext }}</div>
      <button class="shop-now-btn">Shop Now</button>
    </div>
  </div>
</div>


{% schema %}
  {
    "name": "hero",
    "settings": [
      {
        "type": "image_picker",
        "id": "hero",
        "label": "Hero Image"
      }, {
        "type": "textarea",
        "id": "heroHeading",
        "label": "Hero Title"
      }, {
        "type": "text",
        "id": "heroContext",
        "label": "Hero Information"
      }
    ]
  }
{% endschema %}


{% javascript %}
{% endjavascript %}