<div class="hero-container">
    <div class="hero-wrapper">
        {{section.settings.hero}}
    </div>
</div>


{% schema %}
  {
    "name": "hero",
    "settings": [
        {
            "type": "image_picker",
            "id": "hero",
            "label": "Hero Image"
        }
    ]
  }
{% endschema %}


{% javascript %}
{% endjavascript %}