<div class="hero-container">
    <div class="hero-wrapper">
      {% if section.settings.hero %}
        {{ section.settings.hero | image_url: width: 1440, height: 810 | image_tag: preload: true, class: "hero-image" }}
      {% endif %}
    </div>
</div>





{% schema %}
  {
    "name": "hero",
    "settings": [
        {
            "type": "image_picker",
            "id": "hero",
            "label": "Hero Image"
        }
    ]
  }
{% endschema %}


{% javascript %}
{% endjavascript %}