
<div class="hero-container">
    <div class="hero-wrapper">

    </div>
</div>

{% schema %}
    {
      "name": "main",
      "tag": "section",
      "settings": [
        {
          "type": "text",
          "id": "header",
          "label": "Header"
        }
      ]
    }
    {% endschema %}