<div class="hero-container">
  <div class="hero-wrapper">
    <div class="hero-bg">
      {% if section.settings.hero %}
        {{ section.settings.hero | image_url: width: 1800 | image_tag: preload: true }}
      {% endif %}
    </div>
    <div class="hero-context">
        <h2 class="hero-heading"> {{ section.settings.heroHeading }}</h2>
        <h3 class="hero-paragraph"> {{ section.settings.heroContext }}</h3>
        <button class="shop-now-btn">Shop Now</button>
    </div>
  </div>
</div>




{% schema %}
  {
    "name": "hero",
    "settings": [
        {
            "type": "image_picker",
            "id": "hero",
            "label": "Hero Image"
        }, {
            "type": "richtext",
            "id": "heroHeading",
            "label": "Hero Title"
        }, {
            "type": "richtext",
            "id": "heroContext",
            "label": "Hero Information"
        }
    ]
  }
{% endschema %}


{% javascript %}
{% endjavascript %}