<div class="icon-container">
  <div class="icon-wrapper">
    <h2 class="icon-heading">
      {{ section.settings.iconHeading | strip }}</h2>
    <h3 class="icon-subHeading">
      {{ section.settings.iconSubHeading | strip }}</h3>
    <div class="icon-information">
      {{ section.settings.iconInfo }}</div>
    <div class="icons">
      <div class="icon">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="30"
          height="30"
          viewBox="0 0 30 30"
          fill="none">
          <g clip-path="url(#clip0_51_997)">
            <path d="M15 30C6.72518 30 0 23.2748 0 15C0 6.72518 6.72518 0 15 0C23.2748 0 30 6.7327 30 15C30 23.2673 23.2673 30 15 30ZM15 1.19609C7.38716 1.19609 1.19609 7.38716 1.19609 15C1.19609 22.6128 7.38716 28.8039 15 28.8039C22.6128 28.8039 28.8039 22.6128 28.8039 15C28.8039 7.38716 22.6128 1.19609 15 1.19609Z" fill="#545456" />
            <path d="M14.9999 24.1249C9.96728 24.1249 5.875 20.0326 5.875 15C5.875 9.9674 9.96728 5.87512 14.9999 5.87512C20.0325 5.87512 24.1247 9.9674 24.1247 15C24.1247 20.0326 20.0325 24.1249 14.9999 24.1249ZM14.9999 7.07873C10.6293 7.07873 7.07861 10.6294 7.07861 15C7.07861 19.3706 10.6293 22.9213 14.9999 22.9213C19.3705 22.9213 22.9211 19.3706 22.9211 15C22.9211 10.6294 19.3705 7.07873 14.9999 7.07873Z" fill="#545456" />
            <path d="M29.9999 14.3982H23.5229V15.6018H29.9999V14.3982Z" fill="#545456" />
            <path d="M6.47693 14.3982H0V15.6018H6.47693V14.3982Z" fill="#545456" />
          </g>
          <defs>
            <clipPath id="clip0_51_997">
              <rect
                width="30"
                height="30"
                fill="white" />
            </clipPath>
          </defs>
        </svg>
        Core Prenatal
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="18"
          height="10"
          viewBox="0 0 18 10"
          fill="none">
          <path
            d="M1.16848 1L8.73805 8L16.3076 1"
            stroke="black"
            stroke-width="2"
            stroke-linecap="round" />
        </svg>
      </div>
      <div class="icon">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="30"
          height="30"
          viewBox="0 0 30 30"
          fill="none">
          <g clip-path="url(#clip0_51_1028)">
            <path d="M11.9607 15.5099C10.3638 15.5099 9.06738 14.2134 9.06738 12.6245C9.06738 11.0355 10.3638 9.7312 11.9607 9.7312C13.5575 9.7312 14.8539 11.0276 14.8539 12.6245C14.8539 14.2213 13.5575 15.5099 11.9607 15.5099ZM11.9607 9.96045C10.4903 9.96045 9.29663 11.1541 9.29663 12.6245C9.29663 14.0948 10.4903 15.2806 11.9607 15.2806C13.431 15.2806 14.6247 14.0869 14.6247 12.6245C14.6247 11.162 13.431 9.96045 11.9607 9.96045Z" fill="#545456" />
            <path d="M11.9604 15.913C10.1501 15.913 8.67188 14.4348 8.67188 12.6245C8.67188 10.8142 10.1501 9.33594 11.9604 9.33594C13.7707 9.33594 15.249 10.8063 15.249 12.6245C15.249 14.4427 13.7707 15.913 11.9604 15.913ZM11.9604 10.3636C10.7114 10.3636 9.69954 11.3755 9.69954 12.6245C9.69954 13.8735 10.7114 14.8853 11.9604 14.8853C13.2094 14.8853 14.2213 13.8735 14.2213 12.6245C14.2213 11.3755 13.2094 10.3636 11.9604 10.3636Z" fill="#545456" />
            <path d="M14.996 30C6.72727 30 0 23.2727 0 15.004C0 6.73518 6.72727 0 14.996 0C23.2648 0 30 6.72727 30 15.004C30 23.2806 23.2727 30 14.996 30ZM14.996 1.20158C7.3913 1.20158 1.20158 7.3913 1.20158 15.004C1.20158 22.6166 7.3913 28.8063 15.004 28.8063C22.6166 28.8063 28.8063 22.6166 28.8063 15.004C28.8063 7.3913 22.6087 1.20158 14.996 1.20158Z" fill="#545456" />
            <path d="M14.9961 26.3794C8.71942 26.3794 3.62061 21.2727 3.62061 15.0039C3.62061 8.73514 8.72732 3.62842 14.9961 3.62842C21.2649 3.62842 26.3716 8.73514 26.3716 15.0039C26.3716 21.2727 21.2649 26.3794 14.9961 26.3794ZM14.9961 4.82209C9.38345 4.82209 4.81428 9.39126 4.81428 15.0039C4.81428 20.6166 9.38345 25.1857 14.9961 25.1857C20.6087 25.1857 25.1779 20.6166 25.1779 15.0039C25.1779 9.39126 20.6087 4.82209 14.9961 4.82209Z" fill="#545456" />
          </g>
          <defs>
            <clipPath id="clip0_51_1028">
              <rect
                width="30"
                height="30"
                fill="white" />
            </clipPath>
          </defs>
        </svg>
        CoQ10
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="18"
          height="10"
          viewBox="0 0 18 10"
          fill="none">
          <path
            d="M1.7239 1L9.3119 8L16.8999 1"
            stroke="black"
            stroke-width="2"
            stroke-linecap="round" />
        </svg>
      </div>
      <div class="icon">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="30"
          height="30"
          viewBox="0 0 30 30"
          fill="none">
          <g clip-path="url(#clip0_54_1033)">
            <path d="M15 0C6.7139 0 0 6.7139 0 15C0 23.2861 6.7139 30 15 30C23.2861 30 30 23.2861 30 15C30 6.7139 23.2861 0 15 0ZM24.2807 24.2807C21.8021 26.7594 18.5053 28.123 15 28.123C11.4947 28.123 8.19786 26.7594 5.71925 24.2807C3.24064 21.8021 1.87701 18.5053 1.87701 15C1.87701 11.4947 3.24064 8.19786 5.71925 5.71925C8.19786 3.24064 11.4947 1.87701 15 1.87701C18.5053 1.87701 21.8021 3.24064 24.2807 5.71925C26.7594 8.19786 28.123 11.4947 28.123 15C28.123 18.5053 26.7594 21.8021 24.2807 24.2807Z" fill="#545456" />
            <path d="M20.8955 18.9706C20.6389 19.3476 20.3501 19.7005 20.0292 20.0214C19.7084 20.3423 19.3554 20.639 18.9784 20.8877C18.6014 21.1444 18.1923 21.361 17.7672 21.5455C17.3421 21.73 16.8929 21.8663 16.4357 21.9546C15.4972 22.1471 14.5105 22.1471 13.572 21.9546C13.1148 21.8583 12.6656 21.7219 12.2405 21.5455C11.8153 21.369 11.4143 21.1444 11.0373 20.8877C10.6603 20.631 10.3073 20.3423 9.98646 20.0214C9.6656 19.7005 9.36881 19.3476 9.12015 18.9706C8.86346 18.5936 8.64688 18.1845 8.46239 17.7594L6.73779 18.4893C6.96239 19.0187 7.24314 19.5401 7.564 20.0134C7.88485 20.4866 8.25384 20.9358 8.65491 21.3369C9.064 21.746 9.50517 22.115 9.98646 22.4358C10.4677 22.7647 10.9811 23.0374 11.5105 23.262C12.056 23.4947 12.6175 23.6711 13.195 23.7834C13.7886 23.9037 14.3982 23.9679 15.0078 23.9679C15.6175 23.9679 16.2271 23.9037 16.8207 23.7834C17.3982 23.6631 17.9677 23.4866 18.5052 23.262C19.0346 23.0374 19.556 22.7567 20.0292 22.4358C20.5025 22.115 20.9517 21.746 21.3608 21.3369C21.7699 20.9278 22.1389 20.4866 22.4597 20.0054C22.7886 19.5241 23.0613 19.0107 23.2859 18.4813L21.5613 17.7513C21.3849 18.1685 21.1603 18.5775 20.9036 18.9626" fill="#545456" />
            <path d="M10.7247 12.2246C11.7594 12.2246 12.6017 11.3823 12.6017 10.3476C12.6017 9.31283 11.7594 8.47058 10.7247 8.47058C9.6899 8.47058 8.84766 9.31283 8.84766 10.3476C8.84766 11.3823 9.6899 12.2246 10.7247 12.2246Z" fill="#545456" />
            <path d="M21.1603 9.41711H17.4062V11.2941H21.1603V9.41711Z" fill="#545456" />
          </g>
          <defs>
            <clipPath id="clip0_54_1033">
              <rect
                width="30"
                height="30"
                fill="white" />
            </clipPath>
          </defs>
        </svg>
        Omega DHA + EPA
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="18"
          height="10"
          viewBox="0 0 18 10"
          fill="none">
          <path
            d="M1.7239 1L9.3119 8L16.8999 1"
            stroke="black"
            stroke-width="2"
            stroke-linecap="round" />
        </svg>
      </div>
      <div class="icon">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="30"
          height="30"
          viewBox="0 0 30 30"
          fill="none">
          <g clip-path="url(#clip0_51_1002)">
            <path d="M14.996 30C6.72727 30 0 23.2727 0 15.004C0 6.73518 6.72727 0 14.996 0C23.2648 0 30 6.72727 30 15.004C30 23.2806 23.2727 30 14.996 30ZM14.996 1.19368C7.3834 1.19368 1.19368 7.3913 1.19368 15.004C1.19368 22.6166 7.3834 28.8063 14.996 28.8063C22.6087 28.8063 28.7984 22.6166 28.7984 15.004C28.7984 7.3913 22.6087 1.19368 14.996 1.19368Z" fill="#545456" />
            <path d="M14.9963 27.2727C8.22951 27.2727 2.72754 21.7629 2.72754 15.004C2.72754 8.24508 8.22951 2.72729 14.9963 2.72729C21.7631 2.72729 27.2651 8.23718 27.2651 15.004C27.2651 21.7708 21.7631 27.2727 14.9963 27.2727ZM14.9963 3.92097C8.88564 3.92097 3.92121 8.8933 3.92121 14.9961C3.92121 21.0988 8.89355 26.0712 14.9963 26.0712C21.0991 26.0712 26.0714 21.1067 26.0714 14.9961C26.0714 8.8854 21.0991 3.92097 14.9963 3.92097Z" fill="#545456" />
            <path d="M4.19786 19.7549C3.99233 19.7549 3.78679 19.6442 3.67612 19.4545C3.51011 19.1699 3.60498 18.8063 3.89747 18.6403L7.20181 16.7351V13.2648L3.89747 11.3596C3.61288 11.1936 3.51011 10.83 3.67612 10.5454C3.84213 10.2608 4.20577 10.1581 4.49035 10.3241L8.09509 12.4031C8.27691 12.5059 8.39549 12.7035 8.39549 12.9169V17.075C8.39549 17.2885 8.28482 17.4861 8.09509 17.5889L4.49035 19.6679C4.39549 19.7233 4.29272 19.747 4.18996 19.747" fill="#545456" />
            <path d="M8.73497 25.4546C8.52944 25.4546 8.3239 25.3439 8.21323 25.1542C8.04722 24.8696 8.14209 24.506 8.43458 24.34L11.0986 22.8064C11.3832 22.6404 11.7468 22.7352 11.9128 23.0277C12.0788 23.3123 11.984 23.6759 11.6915 23.8419L9.02746 25.3755C8.9326 25.4309 8.82983 25.4546 8.72707 25.4546" fill="#545456" />
            <path d="M11.3989 19.7549C11.2962 19.7549 11.1934 19.7312 11.0985 19.6759L7.4938 17.5968C7.20921 17.4308 7.11435 17.0672 7.27245 16.7826C7.43846 16.498 7.8021 16.4032 8.08668 16.5613L11.6914 18.6403C11.976 18.8063 12.0788 19.17 11.9128 19.4546C11.8021 19.6443 11.6045 19.7549 11.391 19.7549" fill="#545456" />
            <path d="M7.79454 13.5177C7.58901 13.5177 7.38347 13.4071 7.2728 13.2174C7.10679 12.9328 7.20166 12.5691 7.49415 12.4031L11.0989 10.3241C11.3835 10.1581 11.7471 10.2529 11.9131 10.5454C12.0791 10.83 11.9843 11.1936 11.6918 11.3596L8.08703 13.4387C7.99217 13.494 7.8894 13.5177 7.78664 13.5177" fill="#545456" />
            <path d="M14.9963 17.6758C14.6643 17.6758 14.3955 17.4071 14.3955 17.0751V12.917C14.3955 12.5849 14.6643 12.3162 14.9963 12.3162C15.3283 12.3162 15.5971 12.5849 15.5971 12.917V17.0751C15.5971 17.4071 15.3283 17.6758 14.9963 17.6758Z" fill="#545456" />
            <path d="M14.9965 25.9921C14.8937 25.9921 14.7909 25.9684 14.6961 25.9131L11.0992 23.834C10.9174 23.7233 10.7988 23.5336 10.7988 23.3202V19.1621C10.7988 18.9486 10.9174 18.751 11.0992 18.6403L14.6961 16.5613C14.8858 16.4506 15.1071 16.4506 15.2969 16.5613L18.9016 18.6403C19.0834 18.751 19.202 18.9407 19.202 19.1621V23.3202C19.202 23.5336 19.0913 23.7312 18.9016 23.834L15.2969 25.9131C15.202 25.9684 15.0992 25.9921 14.9965 25.9921ZM11.9925 22.9723L14.9965 24.7036L18.0004 22.9723V19.502L14.9965 17.7708L11.9925 19.502V22.9723Z" fill="#545456" />
            <path d="M14.9963 27.2727C14.6643 27.2727 14.3955 27.004 14.3955 26.672V25.3913C14.3955 25.0593 14.6643 24.7905 14.9963 24.7905C15.3283 24.7905 15.5971 25.0593 15.5971 25.3913V26.672C15.5971 27.004 15.3283 27.2727 14.9963 27.2727Z" fill="#545456" />
            <path d="M21.2645 25.4546C21.1617 25.4546 21.0589 25.4309 20.9641 25.3755L18.3 23.834C18.0155 23.668 17.9127 23.3044 18.0787 23.0198C18.2447 22.7352 18.6083 22.6404 18.8929 22.7985L21.557 24.34C21.8415 24.506 21.9443 24.8696 21.7783 25.1542C21.6676 25.3439 21.47 25.4546 21.2566 25.4546" fill="#545456" />
            <path d="M11.3996 7.28063C11.2969 7.28063 11.1941 7.25691 11.0992 7.20158L8.4352 5.66008C8.15062 5.49407 8.05576 5.13043 8.21386 4.84585C8.37987 4.56126 8.7435 4.4664 9.02809 4.6245L11.6921 6.16601C11.9767 6.33201 12.0795 6.69565 11.9135 6.98023C11.8028 7.16996 11.6052 7.28063 11.3917 7.28063" fill="#545456" />
            <path d="M14.9965 13.5177C14.8937 13.5177 14.7909 13.494 14.6961 13.4387L11.0992 11.3596C10.9174 11.2569 10.7988 11.0592 10.7988 10.8458V6.6877C10.7988 6.47426 10.9174 6.27663 11.0992 6.16596L14.6961 4.08691C14.8858 3.97624 15.1071 3.97624 15.2969 4.08691L18.9016 6.16596C19.0834 6.27663 19.202 6.46636 19.202 6.6877V10.8458C19.202 11.0592 19.0913 11.2569 18.9016 11.3596L15.2969 13.4387C15.202 13.494 15.0992 13.5177 14.9965 13.5177ZM11.9925 10.498L14.9965 12.2292L18.0004 10.498V7.02762L14.9965 5.2964L11.9925 7.02762V10.498Z" fill="#545456" />
            <path d="M22.1978 13.5178C22.095 13.5178 21.9922 13.494 21.8974 13.4387L18.2926 11.3597C18.008 11.1937 17.9132 10.83 18.0713 10.5454C18.2373 10.2608 18.6009 10.166 18.8855 10.3241L22.4903 12.4031C22.7748 12.5691 22.8776 12.9328 22.7116 13.2174C22.6009 13.4071 22.4033 13.5178 22.1899 13.5178" fill="#545456" />
            <path d="M18.6012 19.7549C18.3956 19.7549 18.1901 19.6443 18.0794 19.4545C17.9134 19.17 18.0083 18.8063 18.3008 18.6403L21.9055 16.5613C22.1901 16.3952 22.5538 16.4901 22.7198 16.7826C22.8858 17.0672 22.7909 17.4308 22.4984 17.5968L18.8937 19.6759C18.7988 19.7312 18.696 19.7549 18.5933 19.7549" fill="#545456" />
            <path d="M14.9963 5.20157C14.6643 5.20157 14.3955 4.9328 14.3955 4.60078V3.32015C14.3955 2.98813 14.6643 2.71936 14.9963 2.71936C15.3283 2.71936 15.5971 2.98813 15.5971 3.32015V4.60078C15.5971 4.9328 15.3283 5.20157 14.9963 5.20157Z" fill="#545456" />
            <path d="M18.6012 7.28064C18.3956 7.28064 18.1901 7.16997 18.0794 6.98025C17.9134 6.69566 18.0083 6.33203 18.3008 6.16602L20.9648 4.63242C21.2494 4.46641 21.613 4.56128 21.779 4.85377C21.9451 5.13835 21.8502 5.50199 21.5577 5.66799L18.8937 7.20159C18.7988 7.25693 18.696 7.28064 18.5933 7.28064" fill="#545456" />
            <path d="M25.8022 19.7549C25.6994 19.7549 25.5967 19.7312 25.5018 19.6759L21.8971 17.5968C21.7153 17.4862 21.5967 17.2964 21.5967 17.083V12.9249C21.5967 12.7115 21.7074 12.5138 21.8971 12.4111L25.5018 10.332C25.7864 10.166 26.15 10.2609 26.316 10.5534C26.4821 10.8379 26.3872 11.2016 26.0947 11.3676L22.7904 13.2727V16.7431L26.0947 18.6482C26.3793 18.8142 26.4821 19.1779 26.316 19.4624C26.2054 19.6522 26.0077 19.7628 25.7943 19.7628" fill="#545456" />
            <path d="M11.3996 15.8418C10.9332 15.8418 10.5537 15.4624 10.5537 14.996C10.5537 14.5296 10.9332 14.1501 11.3996 14.1501C11.866 14.1501 12.2454 14.5296 12.2454 14.996C12.2454 15.4624 11.866 15.8418 11.3996 15.8418ZM11.3996 14.6482C11.2019 14.6482 11.0438 14.8063 11.0438 15.0039C11.0438 15.2015 11.2019 15.3517 11.3996 15.3517C11.5972 15.3517 11.7553 15.1936 11.7553 15.0039C11.7553 14.8142 11.5972 14.6482 11.3996 14.6482Z" fill="#545456" />
            <path d="M18.6007 15.8418C18.1343 15.8418 17.7549 15.4624 17.7549 14.996C17.7549 14.5296 18.1343 14.1501 18.6007 14.1501C19.0671 14.1501 19.4466 14.5296 19.4466 14.996C19.4466 15.4624 19.0671 15.8418 18.6007 15.8418ZM18.6007 14.6482C18.4031 14.6482 18.245 14.8063 18.245 15.0039C18.245 15.2015 18.4031 15.3517 18.6007 15.3517C18.7984 15.3517 18.9565 15.1936 18.9565 15.0039C18.9565 14.8142 18.7984 14.6482 18.6007 14.6482Z" fill="#545456" />
            <path d="M22.2765 22.079C21.8101 22.079 21.4307 21.6996 21.4307 21.2332C21.4307 20.7668 21.8101 20.3873 22.2765 20.3873C22.7429 20.3873 23.1224 20.7668 23.1224 21.2332C23.1224 21.6996 22.7429 22.079 22.2765 22.079ZM22.2765 20.8854C22.0789 20.8854 21.9208 21.0435 21.9208 21.2411C21.9208 21.4387 22.0789 21.5889 22.2765 21.5889C22.4741 21.5889 22.6322 21.4308 22.6322 21.2411C22.6322 21.0514 22.4741 20.8854 22.2765 20.8854Z" fill="#545456" />
            <path d="M14.9962 22.079C14.5298 22.079 14.1504 21.6996 14.1504 21.2332C14.1504 20.7668 14.5298 20.3873 14.9962 20.3873C15.4626 20.3873 15.8421 20.7668 15.8421 21.2332C15.8421 21.6996 15.4626 22.079 14.9962 22.079ZM14.9962 20.8854C14.7986 20.8854 14.6405 21.0435 14.6405 21.2411C14.6405 21.4387 14.7986 21.5889 14.9962 21.5889C15.1939 21.5889 15.352 21.4308 15.352 21.2411C15.352 21.0514 15.1939 20.8854 14.9962 20.8854Z" fill="#545456" />
            <path d="M7.79409 22.079C7.32769 22.079 6.94824 21.6996 6.94824 21.2332C6.94824 20.7668 7.32769 20.3873 7.79409 20.3873C8.26049 20.3873 8.63994 20.7668 8.63994 21.2332C8.63994 21.6996 8.26049 22.079 7.79409 22.079ZM7.79409 20.8854C7.59646 20.8854 7.43836 21.0435 7.43836 21.2411C7.43836 21.4387 7.59646 21.5889 7.79409 21.5889C7.99172 21.5889 8.14982 21.4308 8.14982 21.2411C8.14982 21.0514 7.99172 20.8854 7.79409 20.8854Z" fill="#545456" />
            <path d="M7.79409 9.68377C7.32769 9.68377 6.94824 9.30432 6.94824 8.83792C6.94824 8.37151 7.32769 7.99207 7.79409 7.99207C8.26049 7.99207 8.63994 8.37151 8.63994 8.83792C8.63994 9.30432 8.26049 9.68377 7.79409 9.68377ZM7.79409 8.49009C7.59646 8.49009 7.43836 8.64819 7.43836 8.84582C7.43836 9.04345 7.59646 9.19365 7.79409 9.19365C7.99172 9.19365 8.14982 9.03554 8.14982 8.84582C8.14982 8.6561 7.99172 8.49009 7.79409 8.49009Z" fill="#545456" />
            <path d="M14.9962 9.60479C14.5298 9.60479 14.1504 9.22534 14.1504 8.75894C14.1504 8.29253 14.5298 7.91309 14.9962 7.91309C15.4626 7.91309 15.8421 8.29253 15.8421 8.75894C15.8421 9.22534 15.4626 9.60479 14.9962 9.60479ZM14.9962 8.41111C14.7986 8.41111 14.6405 8.56921 14.6405 8.76684C14.6405 8.96447 14.7986 9.11467 14.9962 9.11467C15.1939 9.11467 15.352 8.95656 15.352 8.76684C15.352 8.57712 15.1939 8.41111 14.9962 8.41111Z" fill="#545456" />
            <path d="M22.1974 9.60479C21.731 9.60479 21.3516 9.22534 21.3516 8.75894C21.3516 8.29253 21.731 7.91309 22.1974 7.91309C22.6638 7.91309 23.0433 8.29253 23.0433 8.75894C23.0433 9.22534 22.6638 9.60479 22.1974 9.60479ZM22.1974 8.41111C21.9998 8.41111 21.8417 8.56921 21.8417 8.76684C21.8417 8.96447 21.9998 9.11467 22.1974 9.11467C22.395 9.11467 22.5531 8.95656 22.5531 8.76684C22.5531 8.57712 22.395 8.41111 22.1974 8.41111Z" fill="#545456" />
          </g>
          <defs>
            <clipPath id="clip0_51_1002">
              <rect
                width="30"
                height="30"
                fill="white" />
            </clipPath>
          </defs>
        </svg>
        Methylfolate
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="18"
          height="10"
          viewBox="0 0 18 10"
          fill="none">
          <path
            d="M1.16848 1L8.73805 8L16.3076 1"
            stroke="black"
            stroke-width="2"
            stroke-linecap="round" />
        </svg>
      </div>
    </div>
  </div>
</div>


{% schema %}
  {
    "name": "icons",
    "settings": [
      {
        "type": "richtext",
        "id": "iconHeading",
        "label": "Icon Section Heading"
      }, {
        "type": "richtext",
        "id": "iconSubHeading",
        "label": "Icon Section Sub Heading"
      }, {
        "type": "richtext",
        "id": "iconInfo",
        "label": "Icon Section Information"
      }
    ],
    "presets": [
      {
        "name": "icons"
      }
    ]
  }
{% endschema %}