<div class="image-container">
    <div class="image-wrapper">
        <div class="image">
        {{ section.settings.imageCard | image_url: width: 1600 | image_tag}}
        </div>
    </div>
</div>



{% schema %}
    {
      "name": "imageCard",
      "settings": [
          {
              "type": "image_picker",
              "id": "imageCard",
              "label": "Image"
          }
      ]
    }
  {% endschema %}