<div class="image-container">
  <div class="image-wrapper">
    <div class="bg-image">
      {% if section.settings.imageCard %}
        {{ section.settings.imageCard | image_url: width: 2000 | image_tag: preload: true }}
      {% endif %}
    </div>
    <div class="image-context">
      <div class="img-svg"></div>
      <div class="image-title">{{ section.settings.imageHeading }}</div>
      <div class="image-text">{{ section.settings.imageContext }}</div>
      <button class="shop-now-btn">Shop Now</button>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "imageCard",
    "settings": [
      {
        "type": "image_picker",
        "id": "imageCard",
        "label": "Image"
      }, {
        "type": "text",
        "id": "imageHeading",
        "label": "Image Title"
      }, {
        "type": "textarea",
        "id": "imageContext",
        "label": "Information"
      }
    ]
  }
{% endschema %}