<div class="marquee-container">
    <div class="marquee-wrapper">
        {{ section.settings.marquee }}
    </div>
</div>


{% schema %}
    {
      "name": "marquee",
      "settings": [
          {
              "type": "image_picker",
              "id": "marquee",
              "label": "Marquee"
          }
      ]
    }
  {% endschema %}