<div class="marquee-container">
  <div class="marquee-wrapper">
    <div class="marquee">
      {{ section.settings.marquee }}
    </div>
  </div>
</div>


{% schema %}
  {
    "name": "marquee",
    "settings": [
      {
        "type": "text",
        "id": "marquee",
        "label": "Marquee"
      }
    ],
    "presets": [
      {
        "name": "marquee"
      }
    ]
  }
{% endschema %}