<div class="test-container">
  <div class="test-wrapper">


    <div class="test-blocks-container">
      <div class="test-block">
        <p class="test-content">
          <p class="stars">&#x2605; &#x2605; &#x2605; &#x2605; &#x2605;
          </p>
          <br/>
          {{ section.settings.testimonialContent1 | strip }}
        </p>
      </div>

      <div class="test-block">
        <p class="test-content">
          <p class="stars">&#x2605; &#x2605; &#x2605; &#x2605; &#x2605;
          </p>
          <br/>
          {{ section.settings.testimonialContent2 | strip }}</p>
      </div>

      <div class="test-block">
        <p class="test-content">
          <p class="stars">&#x2605; &#x2605; &#x2605; &#x2605; &#x2605;
          </p>
          <br/>
          {{ section.settings.testimonialContent3 | strip }}
        </p>
      </div>

    </div>
  </div>
</div>


{% schema %}
  {
    "name": "testimonials",
    "settings": [
      {
        "type": "richtext",
        "id": "testimonialContent1",
        "label": "Content for Testimonial Block 1"
      }, {
        "type": "richtext",
        "id": "testimonialContent2",
        "label": "Content for Testimonial Block 2"
      }, {
        "type": "richtext",
        "id": "testimonialContent3",
        "label": "Content for Testimonial Block 3"
      }
    ]
  }
{% endschema %}