<div class="test-container">
    <div class="test-wrapper">
        testimonials
    </div>
</div>


{% schema %}
    {
      "name": "testimonials",
      "settings": [
          {
              "type": "richtext",
              "id": "testimonials",
              "label": "Grid for Testimonials"
          }
      ]
    }
  {% endschema %}