* {
    margin: 0;
}

body {
    background-color: #F8F7F5;

}

/* ---------- Navigations ------ */

/* --------- Main Navigation ----- */
.main-nav {
    background-color: #E2D294;
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 2%;
    padding-bottom: 2%;
}

.main-nav-left,
.nav-links,
.nav-link {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding-left: 1rem;
    padding-right: 1rem;
}

/* ------- Hero -------*/
.hero-container {
  height: auto;
  width: 100%;
}

.hero-wrapper {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color:antiquewhite;
}

.hero-bg {
  position: relative;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
}

.hero-bg img {
  max-height: 100vh;
  width: 100%;
  object-fit: cover;
}

.hero-context {
  display: flex;
  flex-direction: column;
  position: absolute;
  align-items: center;
  top: 50%;
  width: 100%;
  align-content: center;
  flex-wrap: wrap;
}

.hero-heading {
  color: #F5F5F5;
  text-align: center;
  font-family: Poppins, 'Times New Roman', Times, serif;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: 3.125rem; /* 125% */
  text-transform: capitalize;
}

.hero-paragraph {
  color: #FFF;
  text-align: center;
  font-family: Poppins, 'Times New Roman', Times, serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5625rem; /* 156.25% */
}


/* ------------ Buttons -------- */
.shop-now-btn,
.addToCart {
    width: 21.875rem;
    height: 3.125rem;
    border-radius: 3.125rem;
    background: #E2D294;
}

.addToCart {
height: 3.125rem;
}



/* --------- Marquee -------- */

.marquee {
    color: #000;
    font-family: Poppins;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 500;
    line-height: 2.5rem; /* 285.714% */
    letter-spacing: 0.0525rem;
    text-transform: uppercase;
}


/* --------- Image Card ------ */
.image-container {
    width: 100%;
    height: auto;
}

.image-wrapper {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color:antiquewhite;
    overflow: hidden;
  }

  /* --------- Add to Cart Block ------ */
  .block-container {
    width: 100%;
    height: auto;
  }

  .block-heading {
    text-align: center;
    justify-content: center;
  }

  .column-container {
    display: flex;
    flex-direction: row;
  }

  .column1,
  .column2 {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .cart-display {
    max-width: 500px;
  }