* {
    margin: 0;
}

body {
    background-color: #F8F7F5;

}

h2 {
  padding-top: 1.4rem;
  padding-bottom: 1.4rem;
}

ul li {
  list-style: none;
  padding-left: 1rem;
  padding-bottom: 1rem;
}


li::marker {
  content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="31" height="31" viewBox="0 0 31 31" fill="none"><g clip-path="url(%23clip0_49_737)"><path d="M14.4813 0C15.1679 0 15.8545 0 16.5412 0C16.9194 0.0473551 17.2982 0.088032 17.6753 0.14328C20.2348 0.517871 22.5989 1.41155 24.6539 2.98641C29.4932 6.69589 31.5652 11.6214 30.8683 17.6695C30.5732 20.2273 29.6213 22.575 28.0568 24.6259C24.3504 29.4859 19.4195 31.5646 13.3587 30.8701C10.7688 30.5732 8.41387 29.5781 6.32421 28.013C2.9141 25.4576 0.85784 22.0693 0.177882 17.8559C0.107458 17.42 0.0582821 16.9798 0 16.5421C0 15.8555 0 15.1688 0 14.4822C0.0473542 14.1039 0.0880302 13.7245 0.143277 13.3469C0.520896 10.7672 1.45037 8.40675 3.0161 6.31887C5.5708 2.91052 8.95844 0.856642 13.1699 0.177885C13.6052 0.10746 14.0442 0.0588904 14.4813 0ZM15.5328 2.423C8.35073 2.39447 2.47092 8.24768 2.42296 15.4748C2.375 22.6564 8.26392 28.5715 15.4897 28.6001C22.6717 28.6286 28.5515 22.7754 28.5995 15.5483C28.6475 8.36668 22.7586 2.45154 15.5328 2.423Z" fill="%23C8B87F"/><path d="M13.3958 17.941C13.5124 17.7777 13.5658 17.6757 13.6429 17.5986C15.9396 15.2982 18.2399 13.0015 20.5354 10.6993C20.9142 10.3199 21.3398 10.1292 21.8722 10.2956C22.6712 10.5451 22.9796 11.4782 22.4896 12.1564C22.4077 12.2699 22.3075 12.3719 22.2079 12.4721C19.6101 15.0712 17.0117 17.6696 14.4133 20.2681C13.7018 20.9796 13.0649 20.9778 12.3504 20.2638C11.1434 19.0575 9.93591 17.8524 8.73202 16.6436C8.27002 16.1797 8.17045 15.6333 8.44365 15.1325C8.85648 14.3778 9.78657 14.2698 10.4416 14.9157C11.3401 15.8015 12.2283 16.6988 13.1184 17.5931C13.1961 17.6714 13.2574 17.7661 13.3952 17.9404L13.3958 17.941Z" fill="%23C8B87F"/></g><defs><clipPath id="clip0_49_737"><rect width="31" height="31" fill="white"/></clipPath></defs></svg>');
}

/* ---------- Navigations ------ */

/* --------- Main Navigation ----- */
.main-nav {
    background-color: #E2D294;
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 2%;
    padding-bottom: 2%;
}

.main-nav-left,
.nav-links,
.nav-link {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding-left: 1rem;
    padding-right: 1rem;
}

/*------------------------------------*/

/* ------- Hero -------*/
.hero-container {
  height: auto;
  width: 100%;
}

.hero-wrapper {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color:antiquewhite;
}

.hero-bg {
  position: relative;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
}

.hero-bg img {
  max-height: 100vh;
  width: 100%;
  object-fit: cover;
}

.hero-context {
  display: flex;
  flex-direction: column;
  position: absolute;
  align-items: center;
  top: 50%;
  width: 100%;
  align-content: center;
  flex-wrap: wrap;
}

.hero-heading {
  color: #F5F5F5;
  text-align: center;
  font-family: Poppins, 'Times New Roman', Times, serif;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: 3.125rem; /* 125% */
  text-transform: capitalize;
}

.hero-paragraph {
  color: #FFF;
  text-align: center;
  font-family: Poppins, 'Times New Roman', Times, serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5625rem; /* 156.25% */
}


/* ------------ Buttons -------- */
.shop-now-btn,
.addToCart {
    width: 21.875rem;
    height: 3.125rem;
    border-radius: 3.125rem;
    background: #E2D294;
}

.addToCart {
height: 3.125rem;
}



/* --------- Marquee -------- */

.marquee {
    color: #000;
    font-family: Poppins;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 500;
    line-height: 2.5rem; /* 285.714% */
    letter-spacing: 0.0525rem;
    text-transform: uppercase;
}


/* --------- Image Card ------ */
.image-container {
    width: 100%;
    height: auto;
}

.image-wrapper {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color:antiquewhite;
    overflow: hidden;
  }

  /* --------- Add to Cart Block ------ */
  .point-container {
    width: 100%;
    height: auto;
  }

  .point-heading {
    text-align: center;
    justify-content: center;
  }

  .column-container {
    display: flex;
    flex-direction: row;
  }

  .column1,
  .column2 {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .cart-display {
    max-width: 500px;
  }

/* ---------- Information Card -------- */
.info-container {
  width: 100%;
}

.info-wrapper {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.info-heading {
  color: #000;
  text-align: center;
  font-family: Poppins;
  font-size: 1.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 3.125rem;
  text-decoration-line: underline;
  text-transform: capitalize;
}

.information-p {
  color: #636363;
  text-align: center;
  font-family: Poppins;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5625rem;
  text-decoration-line: underline;
}

.info-table {
  display: flex;
  flex-direction: row;
  padding-bottom: 2rem;
}

.info-table-left,
.info-table-right {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #767676;
  width: 50%;
  padding: 1rem;
}

.info-table-left {
  margin-left: 15%;
}

.info-table-right {
  margin-right: 15%;
}

.info-button {
  width: 100%;
}

/* ----------- Icons ------------ */
.icon-container {
  width: 100%;
}

.icon-wrapper {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}

.icon-heading {
  color: #000;
  text-align: center;
  font-family: Poppins;
  font-size: 1.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 3.125rem;
  text-decoration-line: underline;
}

.icon-subHeading {
  color: #000;
  text-align: center;
  font-family: Abel;
  font-size: 1.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3.125rem;
  text-decoration-line: underline;
}

.icon-information {
  color: #636363;
  text-align: center;
  font-family: Poppins;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.625rem;
}

.icons {
  display: flex;
  flex-direction: row;
  padding: 1.75rem;
  flex-wrap: nowrap;
  margin-left: 5%;
  margin-right: 5%;
  justify-content: space-evenly;
}

.icon {
  width: 16.9375rem;
  height: 3.75rem;
  border-radius: 6.25rem;
  background: #E2D294;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

/* ----------- Testimonials ---------- */
.test-container {
  width: 100%;
  height: auto;
  background: #EDE6CC;
}

.test-blocks-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-evenly;
  align-items: center;
}

.test-block {
  background-color: #FFF;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  height: 23rem;
  width: 23rem;
  margin-bottom: 5rem;
}

.test-heading,
.test-subheading {
  text-align: center;
  justify-content: center;
  padding-bottom: 1rem;
}

.test-svg {
  padding: 1rem;
}

/* ------------- Recipes ------------- */

.recipe-container {
  width: 100%;
}

.recipe-wrapper {
  padding-top: 5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  align-content: center;
  flex-wrap: wrap;
}

.recipe-title,
.ingredients,
.ingredient-block {
  color: #AE9E45;
  font-family: Poppins;
  font-size: 1.5625rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.875rem;
}
