* {
    margin: 0;
}

body {
    background-color: #F8F7F5;

}

h2 {
  padding-top: 1.4rem;
  padding-bottom: 1.4rem;
}

ul li {
  display: flex;
  list-style: none;
  padding-left: 1rem;
  color: #000;
  font-family: 'Poppins';
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3.8125rem;
  justify-content: flex-start;
  align-items: center;
}

hr {
  background: #B7B7B7;
  width: 27.375rem;
  height: 0.0625rem;
}


/* ---------- Navigations ------ */

/* --------- Main Navigation ----- */
.main-nav {
    background-color: #F8F7F5;
    text-transform: uppercase;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 2%;
    padding-bottom: 2%;
}

.main-nav-left,
.nav-links,
.nav-link {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding-left: 1rem;
    padding-right: 1rem;
}

.nav-link > a {
  text-decoration: none;
  color: #655F5F;
  font-family: Poppins;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.25rem;
  letter-spacing: 0.07rem;
  text-transform: uppercase;
}

.main-nav-right {
  display: flex;
  align-items: center;
}

.search-input {
  padding-top: 0.62rem;
  padding-left: 2.56rem;
  padding-bottom: 0.38rem;
  border-radius: 6.25rem;
  border: 1px solid #8B8B8B;
}

/*------------------------------------*/

/* ------- Hero -------*/
.hero-container {
  height: auto;
  width: 100%;
}

.hero-wrapper {
  position: relative;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color:antiquewhite;
}

.hero-bg img {
  width: 100%;
  height: auto;
}

.hero-context {
  display: flex;
  flex-direction: column;
  position: absolute;
  align-items: center;
  transform: translateX(-50%) translateY(-50%);
  left: 50%;
  top: 50%;
  width: 50%;
  flex-wrap: nowrap;
  justify-content: center;
}

.hero-heading {
  color: #F5F5F5;
  text-align: center;
  font-family: 'Poppins', 'Times New Roman', Times, serif;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: 3.125rem; /* 125% */
  text-transform: capitalize;
}

.hero-paragraph {
  padding-top: 2.19rem;
  padding-bottom: 1rem;
  color: #FFF;
  text-align: center;
  font-family: 'Poppins', 'Times New Roman', Times, serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5625rem; /* 156.25% */
}


/* ------------ Buttons -------- */
.shop-now-btn,
.addToCart {
    width: 21.875rem;
    height: 3.125rem;
    border-radius: 3.125rem;
    border: none;
    background: #E2D294;
    color: #333;
    text-align: center;
    font-family: 'Poppins';
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.07rem;
}

.addToCart {
height: 3.125rem;
}

.login-btn {
  border: none;
  background-color: transparent;
  color: #655F5F;
  font-family: 'Poppins';
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.25rem;
  letter-spacing: 0.07rem;
  text-transform: uppercase;
  padding-left: 1.5rem;
  padding-right: 1.62rem;
}



/* --------- Marquee -------- */

.marquee-wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background: #FAF5EB;
} 

.marquee {
  color: #000;
  font-family: 'Poppins';
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2.5rem;
  letter-spacing: 0.0525rem;
  text-transform: uppercase;
  padding-top: 0.75rem;
}

/* ---------- Sponsors ---------- */

.sponsor-container {
  width: 100%;
  height: auto;
}

.sponsor-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.sponsor img {
  height: auto;
  width: 100%;
  overflow: hidden;
}




/* --------- Image Card ------ */
.image-container {
    width: 100%;
    height: auto;
    background-color: #efeae2;
}

.image-wrapper {
    position: relative;
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
  }

  .bg-image img {
    width: 100%;
    height: auto;
  }

  .image-context {
    z-index: 2;
    position: absolute;
    top: 20%;
    width: 40%;
    transform: translate(130%);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-end;
    justify-content: center;
    align-items: center;
}

  .image-title {
    color: #000;
    font-family: 'Poppins';
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 500;
    line-height: 3.125rem; /* 250% */
    padding-bottom: 1.38rem;
  }

  .image-text {
    color: #000;
    font-family: 'Poppins';
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5625rem; /* 156.25% */
    padding-bottom: 1.81rem;
  }

  .img-svg {
    padding-bottom: 1rem;
  }


  /* --------- Image with Overlapping message ------- */
  .overlap-container {
    position: relative;
    width: 100%;
    margin-bottom: 1rem;
}

.overlap-wrapper {
  display: flex;
  margin-right: 20%;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.image-overlap img {
  padding-bottom: 3%;
}

.overlap-context {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  width: 30%;
  margin-right: 20%;
  padding-top: 2rem;
  padding-left: 5rem;
  padding-right: 3rem;
  z-index: 1;
  background: #e2d294;
  justify-content: center;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  align-items: flex-start;
}

.overlap-title {
  color: #000;
  font-family: 'Poppins';
  font-size: 1.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 3.125rem; /* 166.667% */
  text-decoration-line: underline;
  text-transform: capitalize;
}

.overlap-text1 {
  color: #000;
  font-family: 'Poppins';
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5625rem;
}

.overlap-text2 {
  color: #000;
  font-family: 'Poppins';
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2.25rem;
  text-decoration-line: underline;
}



  /* --------- Bulletpoint Block ------ */
  .point-container {
    width: 100%;
    height: auto;
  }

  .point-wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    padding-top: 4.44rem;
  }

  .point-heading {
    text-align: center;
    justify-content: center;
    color: #000;
    text-align: center;
    font-family: 'Poppins';
    font-size: 1.875rem;
    font-style: normal;
    font-weight: 500;
    line-height: 3.125rem; /* 166.667% */
    text-transform: capitalize;
    padding-bottom: 2rem;
  }

  .column-container {
    gap: 7rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
}

  .column-info {
    color: #000;
    font-family: 'Poppins';
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.625rem; /* 162.5% */
  }

  .column2 {
    color: #000;
    font-family: 'Poppins';
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 3.8125rem; /* 381.25% */
  }

  .column1,
  .column2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .cart-display {
    max-width: 500px;
  }

  .bulletpoint {
    margin-right: 2rem;
  }

/* ---------- Information Card -------- */
.info-container {
  width: 100%;
  background: #F4F2E9;
}

.info-wrapper {
  margin-left: 6rem;
  margin-right: 6rem;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.info-heading {
  color: #000;
  text-align: center;
  font-family: 'Poppins';
  font-size: 1.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 3.125rem;
  text-decoration-line: underline;
  text-transform: capitalize;
  padding-top: 4.44rem;
  padding-bottom: 1.19rem;
}

.information-p {
  width: 50%;
  display: flex;
  color: #636363;
  text-align: center;
  font-family: 'Poppins';
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5625rem;
}

.info-table {
  display: flex;
  flex-direction: row;
  padding-bottom: 2rem;
}

.info-table-left,
.info-table-right {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #767676;
  width: 50%;
  padding: 3rem;
}

.info-table-left {
  margin-left: 15%;
  color: #000;
  font-family: 'Poppins';
  font-size: 1.5625rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.5rem;
  text-decoration-line: underline;
}

.info-table-right {
  margin-right: 15%;
  color: #000;
  font-family: 'Poppins';
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5625rem; /* 156.25% */
}

.info-button {
  width: 100%;
  padding-bottom: 3rem;
}

/* ----------- Icons ------------ */
.icon-container {
  width: 100%;
}

.icon-wrapper {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}

.icon-heading {
  color: #000;
  text-align: center;
  font-family: 'Poppins';
  font-size: 1.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 3.125rem;
  text-decoration-line: underline;
}

.icon-subHeading {
  color: #000;
  text-align: center;
  font-family: 'Abel';
  font-size: 1.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3.125rem;
  text-decoration-line: underline;
}

.icon-information {
  display: flex;
  color: #636363;
  text-align: center;
  font-family: 'Poppins';
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.625rem;
  padding-top: 0.62rem;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.icons {
  gap: 1.44rem;
  display: flex;
  flex-direction: row;
  padding-top: 1.75rem;
  padding-bottom: 3.81rem;
  flex-wrap: wrap;
  margin-left: 5%;
  margin-right: 5%;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.icon {
  width: 16.9375rem;
  height: 3.75rem;
  border-radius: 6.25rem;
  background: #E2D294;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

/* ----------- Testimonials & What To sections---------- */
.test-container,
.what-container {
  width: 100%;
  height: auto;
  background: #EDE6CC;
}

.what-wrapper,
.test-wrapper {
  margin-left: 5%;
  margin-right: 5%;
}

.test-wrapper {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.test-blocks-container, 
.what-blocks-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  gap: 1.81rem;
}

.test-block, 
.what-block {
  padding: 1rem;
  display: flex;
  background-color: #fff;
  flex-wrap: nowrap;
  text-align: center;
  margin-bottom: 5rem;
  flex-direction: column;
  align-items: center;
  align-content: center;
  width: 23%;
  height: 23rem;
  overflow: hidden;
}

.what-heading {
  padding-top: 4.81rem;
  color: #000;
  font-family: 'Poppins';
  font-size: 1.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.8125rem; /* 150% */
}

.what-subheading {
  color: #000;
  font-family: 'Abel';
  font-size: 1.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.8125rem;
}

.what-heading,
.what-subheading {
  text-align: center;
  justify-content: center;
  padding-bottom: 1rem;
}

.what-svg,
.stars {
  padding-top: 2.98rem;
  padding-bottom: 1.47rem;
}

.what-content {
  color: #000;
  font-family: 'Poppins';
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.test-content {
  color: #000;
  font-family: 'Abel';
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* ------------- Recipes ------------- */

.recipe-container {
  width: 100%;
}

.recipe-wrapper {
  padding-top: 5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  align-content: center;
  flex-wrap: wrap;
  padding-bottom: 2.12rem;
}

.recipe-title,
.ingredients {
  color: #AE9E45;
  font-family: 'Poppins';
  font-size: 1.5625rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.875rem;
}

.recipe-info {
  color: #000;
  font-family: 'Poppins';
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.875rem; /* 187.5% */
}

.ingredient-block {
  color: #000;
  font-family: 'Poppins';
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.875rem; /* 187.5% */
  padding-bottom: 2rem;
}

.ingredient-block > li::marker {
  list-style: none;
}

/* ------- Quote Section -------- */

.quote-container {
  background: #ECE9DF;
}

.quote-wrapper {
  padding-top: 4.5rem;
}

.quote-context {
  padding-left: 22rem;
  padding-right: 22rem;
}

.quote-title {
  color: #000;
  text-align: center;
  font-family: Poppins;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.0875rem;
  text-transform: uppercase;
}

.quote-text1 {
  color: #000;
  text-align: center;
  font-family: Abel;
  font-size: 1.5625rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.5rem;
}

.quote-text2 {
  color: #000;
  font-family: Poppins;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5625rem;
}

.account {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  padding-bottom: 3.31rem;
}


/* ---------- Comparison -------------- */

.comparison-container {
  width: 100%;
  height: auto;
}

.comparison-wrapper {
  padding-left: 8rem;
  padding-right: 8rem;
}

.comparison-title {
  color: #000;
  text-align: center;
  font-family: 'Poppins';
  font-size: 1.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 3.125rem;
  text-decoration-line: underline;
  padding-top: 3.75rem;
}

.comparison-subtitle {
  color: #000;
  text-align: center;
  font-family: 'Abel';
  font-size: 1.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3.125rem;
  text-decoration-line: underline;
}

.comparison-text1 {
  color: #636363;
  text-align: center;
  font-family: 'Poppins';
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.625rem;
}

.compared-product {
  color: #000;
  text-align: center;
  font-family: 'Poppins';
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-bottom: 1.31rem;
}

.compared-stats {
  color: #5A5A5A;
  font-family: 'Poppins';
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.5rem; /* 285.714% */
  display: flex;
}

.compared-costs {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  flex-wrap: nowrap;
}

.compared-container {
  gap: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  align-content: center;
}

.compared-img-left img,
.compared-img-right img{
  border-radius: 50%;
  height: 30rem;
}

.compared-block {
  text-align: center;
  justify-content: center;
  padding: 2rem;
  width: 33%;
}