* {
    margin: 0;
}

body {
    background-color: #F8F7F5;

}

h2 {
  padding-top: 1.4rem;
  padding-bottom: 1.4rem;
}

ul li {
  list-style: none;
  padding-left: 1rem;
  padding-bottom: 1rem;
  color: #000;
  font-family: 'Poppins';
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3.8125rem; /* 381.25% */
}


li::marker {
  content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="31" height="31" viewBox="0 0 31 31" fill="none"><g clip-path="url(%23clip0_49_737)"><path d="M14.4813 0C15.1679 0 15.8545 0 16.5412 0C16.9194 0.0473551 17.2982 0.088032 17.6753 0.14328C20.2348 0.517871 22.5989 1.41155 24.6539 2.98641C29.4932 6.69589 31.5652 11.6214 30.8683 17.6695C30.5732 20.2273 29.6213 22.575 28.0568 24.6259C24.3504 29.4859 19.4195 31.5646 13.3587 30.8701C10.7688 30.5732 8.41387 29.5781 6.32421 28.013C2.9141 25.4576 0.85784 22.0693 0.177882 17.8559C0.107458 17.42 0.0582821 16.9798 0 16.5421C0 15.8555 0 15.1688 0 14.4822C0.0473542 14.1039 0.0880302 13.7245 0.143277 13.3469C0.520896 10.7672 1.45037 8.40675 3.0161 6.31887C5.5708 2.91052 8.95844 0.856642 13.1699 0.177885C13.6052 0.10746 14.0442 0.0588904 14.4813 0ZM15.5328 2.423C8.35073 2.39447 2.47092 8.24768 2.42296 15.4748C2.375 22.6564 8.26392 28.5715 15.4897 28.6001C22.6717 28.6286 28.5515 22.7754 28.5995 15.5483C28.6475 8.36668 22.7586 2.45154 15.5328 2.423Z" fill="%23C8B87F"/><path d="M13.3958 17.941C13.5124 17.7777 13.5658 17.6757 13.6429 17.5986C15.9396 15.2982 18.2399 13.0015 20.5354 10.6993C20.9142 10.3199 21.3398 10.1292 21.8722 10.2956C22.6712 10.5451 22.9796 11.4782 22.4896 12.1564C22.4077 12.2699 22.3075 12.3719 22.2079 12.4721C19.6101 15.0712 17.0117 17.6696 14.4133 20.2681C13.7018 20.9796 13.0649 20.9778 12.3504 20.2638C11.1434 19.0575 9.93591 17.8524 8.73202 16.6436C8.27002 16.1797 8.17045 15.6333 8.44365 15.1325C8.85648 14.3778 9.78657 14.2698 10.4416 14.9157C11.3401 15.8015 12.2283 16.6988 13.1184 17.5931C13.1961 17.6714 13.2574 17.7661 13.3952 17.9404L13.3958 17.941Z" fill="%23C8B87F"/></g><defs><clipPath id="clip0_49_737"><rect width="31" height="31" fill="white"/></clipPath></defs></svg>');
  padding-top: 1rem;
}

/* ---------- Navigations ------ */

/* --------- Main Navigation ----- */
.main-nav {
    background-color: #F8F7F5;
    text-transform: uppercase;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 2%;
    padding-bottom: 2%;
}

.main-nav-left,
.nav-links,
.nav-link {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding-left: 1rem;
    padding-right: 1rem;
}

.nav-link > a {
  text-decoration: none;
  color: #655F5F;
  font-family: Poppins;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.25rem;
  letter-spacing: 0.07rem;
  text-transform: uppercase;
}

.main-nav-right {
  display: flex;
  align-items: center;
}

.search-input {
  padding-top: 0.62rem;
  padding-left: 2.56rem;
  padding-bottom: 0.38rem;
  border-radius: 6.25rem;
  border: 1px solid #8B8B8B;
}

/*------------------------------------*/

/* ------- Hero -------*/
.hero-container {
  height: auto;
  width: 100%;
}

.hero-wrapper {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color:antiquewhite;
}

.hero-bg {
  position: relative;
  width: 100%;
  /* left: 50%;
  transform: translateX(-50%); */
}

.hero-bg img {
  width: 100%;
  height: auto;
  /* max-height: 100vh;
  object-fit: cover; */
}

.hero-context {
  display: flex;
  flex-direction: column;
  position: absolute;
  align-items: center;
  transform: translateX(-50%) translateY(-50%);
  left: 50%;
  top: 50%;
  width: 50%;
  align-content: center;
  flex-wrap: wrap;
}

.hero-heading {
  color: #F5F5F5;
  text-align: center;
  font-family: 'Poppins', 'Times New Roman', Times, serif;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: 3.125rem; /* 125% */
  text-transform: capitalize;
}

.hero-paragraph {
  padding-top: 2.19rem;
  padding-bottom: 1rem;
  color: #FFF;
  text-align: center;
  font-family: 'Poppins', 'Times New Roman', Times, serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5625rem; /* 156.25% */
}


/* ------------ Buttons -------- */
.shop-now-btn,
.addToCart {
    width: 21.875rem;
    height: 3.125rem;
    border-radius: 3.125rem;
    border: none;
    background: #E2D294;
    color: #333;
    text-align: center;
    font-family: 'Poppins';
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.07rem;
}

.addToCart {
height: 3.125rem;
}

.login-btn {
  border: none;
  background-color: transparent;
  color: #655F5F;
  color: var(--Dark-Grey, #655F5F);
  font-family: 'Poppins';
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.25rem;
  letter-spacing: 0.07rem;
  text-transform: uppercase;
  padding-left: 1.5rem;
  padding-right: 1.62rem;
}



/* --------- Marquee -------- */

.marquee {
  background: #FAF5EB;
  display: flex;
  color: #000;
  font-family: 'Poppins';
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2.5rem;
  letter-spacing: 0.0525rem;
  text-transform: uppercase;
  align-content: center;
  align-items: center;
  justify-content: center;
  padding-top: 0.75rem;
}

/* ---------- Sponsors ---------- */

.sponsor-container {
  width: 100%;
  height: auto;
}

.sponsor-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.sponsor {
  height: auto;
}




/* --------- Image Card ------ */
.image-container {
    max-width: 2000px;
    width: 100%;
    height: auto;
    background-color: #efeae2;
}

.image-wrapper {
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    background-color:antiquewhite;
    overflow: hidden;
  }


  /* --------- Image with Overlapping message ------- */
.overlap-container {
  height: auto;
  margin-left: 10%;
}

.overlap-wrapper {
  position: relative;
}

.image-overlap img {
  display: block;
  width: 41.5rem;
  height: 43rem; 
  padding-bottom: 3%;
}

.overlap-context {
  position: absolute;
  padding-left: 5rem;
  padding-right: 3rem;
  padding-top: 3rem;
  width: 32.625rem;
  height: 29.25rem; /* Would be 32rem but minus 3rem from padding-top */
  top: 65%; 
  left: 50%; 
  transform: translate(-50%, -50%);
  z-index: 1; 
  background: #E2D294;
}

.overlap-title {
  color: #000;
  font-family: Poppins;
  font-size: 1.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 3.125rem; /* 166.667% */
  text-decoration-line: underline;
  text-transform: capitalize;
}

.overlap-text1 {
  color: #000;
  font-family: 'Poppins';
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5625rem;
}

.overlap-text2 {
  color: #000;
  font-family: 'Poppins';
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2.25rem;
  text-decoration-line: underline;
}



  /* --------- Bulletpoint Block ------ */
  .point-container {
    width: 100%;
    height: auto;
  }

  .point-wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    padding-top: 4.44rem;
  }

  .point-heading {
    text-align: center;
    justify-content: center;
    color: #000;
    text-align: center;
    font-family: 'Poppins';
    font-size: 1.875rem;
    font-style: normal;
    font-weight: 500;
    line-height: 3.125rem; /* 166.667% */
    text-transform: capitalize;
    padding-bottom: 2rem;
  }

  .column-container {
    display: flex;
    flex-direction: row;
    width: 80%;
  }

  .column-info {
    color: #000;
    font-family: 'Poppins';
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.625rem; /* 162.5% */
  }

  .column1,
  .column2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .cart-display {
    max-width: 500px;
  }

/* ---------- Information Card -------- */
.info-container {
  width: 100%;
  background: #F4F2E9;
}

.info-wrapper {
  margin-left: 6rem;
  margin-right: 6rem;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.info-heading {
  color: #000;
  text-align: center;
  font-family: 'Poppins';
  font-size: 1.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 3.125rem;
  text-decoration-line: underline;
  text-transform: capitalize;
  padding-top: 4.44rem;
  padding-bottom: 1.19rem;
}

.information-p {
  display: flex;
  color: #636363;
  text-align: center;
  font-family: 'Poppins';
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5625rem;
}

.info-table {
  display: flex;
  flex-direction: row;
  padding-bottom: 2rem;
}

.info-table-left,
.info-table-right {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #767676;
  width: 50%;
  padding: 3rem;
}

.info-table-left {
  margin-left: 15%;
  color: #000;
  font-family: 'Poppins';
  font-size: 1.5625rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.5rem;
  text-decoration-line: underline;
}

.info-table-right {
  margin-right: 15%;
  color: #000;
  font-family: 'Poppins';
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5625rem; /* 156.25% */
}

.info-button {
  width: 100%;
  padding-bottom: 3rem;
}

/* ----------- Icons ------------ */
.icon-container {
  width: 100%;
}

.icon-wrapper {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}

.icon-heading {
  color: #000;
  text-align: center;
  font-family: 'Poppins';
  font-size: 1.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 3.125rem;
  text-decoration-line: underline;
}

.icon-subHeading {
  color: #000;
  text-align: center;
  font-family: 'Abel';
  font-size: 1.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3.125rem;
  text-decoration-line: underline;
}

.icon-information {
  display: flex;
  color: #636363;
  text-align: center;
  font-family: 'Poppins';
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.625rem;
  padding-top: 0.62rem;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.icons {
  gap: 1.44rem;
  display: flex;
  flex-direction: row;
  padding-top: 1.75rem;
  padding-bottom: 3.81rem;
  flex-wrap: wrap;
  margin-left: 5%;
  margin-right: 5%;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.icon {
  width: 16.9375rem;
  height: 3.75rem;
  border-radius: 6.25rem;
  background: #E2D294;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

/* ----------- Testimonials & What To sections---------- */
.test-container,
.what-container {
  width: 100%;
  height: auto;
  background: #EDE6CC;
}

.what-wrapper,
.test-wrapper {
  margin-left: 5%;
  margin-right: 5%;
}

.test-blocks-container, 
.what-blocks-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  gap: 1.81rem;
}

.test-block, 
.what-block {
  display: flex;
  background-color: #fff;
  flex-wrap: wrap;
  text-align: center;
  margin-bottom: 5rem;
  flex-direction: column;
  align-items: center;
  align-content: center;
  width: 23%;
  height: 23rem;
}

.what-heading {
  padding-top: 4.81rem;
  color: #000;
  font-family: 'Poppins';
  font-size: 1.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.8125rem; /* 150% */
}

.what-subheading {
  color: #000;
  font-family: 'Abel';
  font-size: 1.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.8125rem;
}

.what-heading,
.what-subheading {
  text-align: center;
  justify-content: center;
  padding-bottom: 1rem;
}

.what-svg,
.stars {
  padding-top: 2.98rem;
  padding-bottom: 1.47rem;
}

.test-content,
.what-content {
  color: #000;
  font-family: 'Poppins';
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* ------------- Recipes ------------- */

.recipe-container {
  width: 100%;
}

.recipe-wrapper {
  padding-top: 5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  align-content: center;
  flex-wrap: wrap;
}

.recipe-title,
.ingredients,
.ingredient-block {
  color: #AE9E45;
  font-family: Poppins;
  font-size: 1.5625rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.875rem;
}

/* ------- Quote Section -------- */

.quote-container {
  background: #ECE9DF;
}

.quote-wrapper {
  padding-top: 4.5rem;
}

.quote-context {
  padding-left: 22rem;
  padding-right: 22rem;
}

.quote-title {
  color: #000;
  text-align: center;
  font-family: Poppins;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.0875rem;
  text-transform: uppercase;
}

.quote-text1 {
  color: #000;
  text-align: center;
  font-family: Abel;
  font-size: 1.5625rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.5rem;
}

.quote-text2 {
  color: #000;
  font-family: Poppins;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5625rem;
}

.account {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
}


/* ---------- Comparison -------------- */

.comparison-container {
  width: 100%;
  height: auto;
}

.comparison-wrapper {
  padding-left: 8rem;
  padding-right: 8rem;
}

.comparison-title {
  color: #000;
  text-align: center;
  font-family: Poppins;
  font-size: 1.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 3.125rem;
  text-decoration-line: underline;
}

.comparison-subtitle {
  color: #000;
  text-align: center;
  font-family: Abel;
  font-size: 1.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3.125rem;
  text-decoration-line: underline;
}

.comparison-text1 {
  color: #636363;
  text-align: center;
  font-family: Poppins;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.625rem;
}

.compared-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: nowrap;
  align-items: center;
}

.compared-img-left img,
.compared-img-right img{
  border-radius: 50%;
  height: 30rem;
}

.compared-block {
  text-align: center;
  justify-content: center;
  padding: 2rem;
}