* {
    margin: 0;
}

.main-nav {
    background-color: aquamarine;
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 2%;
    padding-bottom: 2%;
}